<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="contextStartedEventHandler" class="org.katheer.event.handler.ContextStartedEventHandler"/>
    <bean id="contextRefreshedEventHandler" class="org.katheer.event.handler.ContextRefreshedEventHandler"/>
    <bean id="contextStoppedEventHandler" class="org.katheer.event.handler.ContextStoppedEventHandler"/>
    <bean id="contextClosedEventHandler" class="org.katheer.event.handler.ContextClosedEventHandler"/>
    <bean id="a" class="org.katheer.bean.A"/>
    <bean id="b" class="org.katheer.bean.B"/>
</beans>